<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amanahdelivery">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->

    <queries>
        <intent>
            <action android:name="android.intent.action.PICK" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmanahDelivery"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".deliveryshops.activities.UpdateProfileAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".taxi.activities.RideDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".taxi.activities.RideHistoryAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".taxi.activities.PaymentTaxiAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".taxi.activities.TrackTaxiAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".taxi.activities.TaxiHomeAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".deliveryshops.activities.TrackShopAct"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".deliveryshops.activities.DriverDocumentAct"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".deliveryshops.activities.ChnagePassAct"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".deliveryshops.activities.PinLocationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".deliveryshops.activities.ShopOrderHomeAct"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".deliveryshops.activities.SignupAct"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".deliveryshops.activities.ForgotPasswordAct"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".deliveryshops.activities.LoginAct"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">

<!--            <intent-filter>-->

<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data-->
<!--                    android:host="www.example.com"-->
<!--                    android:scheme="https" />-->

<!--                <data-->
<!--                    android:host="www.example.com"-->
<!--                    android:scheme="http" />-->

<!--            </intent-filter>-->

        </activity>

        <activity
            android:name=".deliveryshops.activities.SplashAct"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/api_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".utils.MyService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>